---
import BlogPost from 'src/components/BlogPost.astro'
import { siteConfig } from 'src/config/site-config'
import MainLayout from 'src/layouts/MainLayout.astro'

const post = await Astro.glob('./posts-old/*.{md,mdx}')
---

<MainLayout title="Abraham's Blog">
    <!-- component -->
    <section class="bg-white dark:bg-gray-900">
        <div class="container mx-auto px-6 py-10">
            <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">
                {siteConfig.title}
            </h1>

            <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2">
                <!-- <BlogPost /> -->
                {post.map((post) => <BlogPost {...post} />)}
            </div>
        </div>
    </section>
</MainLayout>
