---
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'
interface Props {
    title?: string
}
const { title = 'Astro page' } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="bg-slate-900">
        <main class="m-auto mb-10 max-w-5xl px-5 py-2">
            <slot />
        </main>
    </body>
</html>

<style>
    @reference "tailwindcss";
</style>
